<html ng-app="FavoritesView">
    <head>
        <!--BOOTSTRAP-->
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" type="text/css" href="frameworks/bootstrap/dist/css/bootstrap.min.css"/>
            
            <!-- Custom styles for this template -->
            <link href="css/dashboard.css" rel="stylesheet">

            <!-- Optional theme -->
            <link rel="stylesheet" type="text/css" href="frameworks/bootstrap/dist/css/bootstrap-theme.min.css"/>
            <!--END-BOOTSTRAP-BLOCK-->
    </head>    
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="#">Favorites</a>
                </div>
            </div>
        </nav>
        <br>
        <br>
        <br>
        <br>
        <div ng-controller="FavoritesViewController">
            <table class="table">
                <tbody>
                    <!--Displays The Stations List Data In A Table-->
                    <tr ng-repeat="favorites in favoriteslist">
                        <td style="vertical-align: middle;"><img src="{{favorites.icon}}" width="64" height="64"/></td>
                        <td style="vertical-align: middle;">{{favorites.name}}</td>
                        <td style="vertical-align: middle;">{{favorites.broadcaster}}</td>
                        <td style="vertical-align: middle;">{{favorites.region}}</td>
                        <td style="vertical-align: middle;"><a href="{{favorites.websiteUrl}}">{{favorites.websiteUrl}}</a></td>
                        <td style="vertical-align: middle;"><button class="btn btn-success" style="display: inline; margin-right: 5px;" ng-click="">Play</button><button class="btn btn-Danger" style="display: inline;" ng-click="">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="frameworks/angular/angular.min.js"></script>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="frameworks/bootstrap/dist/js/bootstrap.min.js"></script>
        
        <!--View Controller-->
        <script src="controllers/FavoritesViewController.js"></script>
    </body>    
</html>