<html ng-app="HomeView">
    <head>
        <!--BOOTSTRAP-->
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" type="text/css" href="frameworks/bootstrap/dist/css/bootstrap.min.css"/>
            
            <!-- Custom styles for this template -->
            <link href="css/dashboard.css" rel="stylesheet">

            <!-- Optional theme -->
            <link rel="stylesheet" type="text/css" href="frameworks/bootstrap/dist/css/bootstrap-theme.min.css"/>
            <!--END-BOOTSTRAP-BLOCK-->
    </head>    
    <body>
         <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="#">Home</a>
                </div>
            </div>
        </nav>
        <br>
        <br>
        <br>
        <br>
        <div ng-controller="HomeViewController">
            <div class="row" style="padding-left: 60px; padding-right: 60px;" ng-repeat="pick in staffpicklist">
                <div class="col-xs-2 col-md-2" style="display: block;">
                    <a href="#" class="thumbnail" ng-click="">
                        <img src="{{pick.icon}}" alt="" style="height: 180px; width: 170px; display: block;">
                        <h3 style="color: black; text-align: center;">{{pick.name}}</h3>
                    </a>
                </div>
            </div>
        </div>
        <script src="frameworks/angular/angular.min.js"></script>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="frameworks/bootstrap/dist/js/bootstrap.min.js"></script>
        
        <!--View Controller-->
        <script src="controllers/HomeViewController.js"></script>
    </body>    
</html>