<!DOCTYPE>
<html ng-app="WebApp">
    <head>
        <!--BOOTSTRAP-->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" href="frameworks/bootstrap/dist/css/bootstrap.min.css"/>
        
        <!-- Custom styles for this template -->
        <link href="css/dashboard.css" rel="stylesheet">

        <!-- Optional theme -->
        <link rel="stylesheet" type="text/css" href="frameworks/bootstrap/dist/css/bootstrap-theme.min.css"/>
        <!--END-BOOTSTRAP-BLOCK-->
        
        <title>Welcome To Elavate</title>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Elavate</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="webapp.html">Web App</a></li>
                        <li><a href="webservice.html">Web Service</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div id="WebAppDivController" class="container-fluid" ng-controller="WebAppController">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li class="{{homeIsActive}}"><a href="#" ng-click="setContentView(0)"><span class="glyphicon glyphicon-home" aria-hidden="true" style="display: inline;"></span> <h6 id="sidebartitles"> Home</h6></a></li>
                        <li class="{{stationsIsActive}}"><a href="#" ng-click="setContentView(1)"><span class="glyphicon glyphicon-th" aria-hidden="true" style="display: inline;"></span> <h6 id="sidebartitles">Stations</h6></a></li>
                        <li class="{{historyIsActive}}"><a href="#" ng-click="setContentView(2)"><span class="glyphicon glyphicon-time" aria-hidden="true" style="display: inline;"></span> <h6 id="sidebartitles">History</h6></a></li>
                        <li class="{{favoritesIsActive}}"><a href="#" ng-click="setContentView(3)"><span class="glyphicon glyphicon-star-empty" aria-hidden="true" style="display: inline;"></span > <h6 id="sidebartitles">Favorites</h6></a></li>
                    </ul>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-offset-2 main">
                    <div>
                        <div id="homeview" class="contentview">
                            <table class="table">
                                <tbody>
                                    <!--Displays The Stations List Data In A Table-->
                                    <tr ng-repeat="pick in staffpicklist">
                                        <td style="vertical-align: middle;"><img src="{{pick.icon}}" width="96" height="96"/></td>
                                        <td style="vertical-align: middle;">{{pick.name}}</td>
                                        <td style="vertical-align: middle;">{{pick.stationname}}</td>
                                        <td style="vertical-align: middle;"><button class="btn btn-success" style="display: inline; margin-right: 5px;" ng-click="playStation(pick.stationid)">Play</button><button class="btn btn-warning" style="display: inline;" ng-click="addtoFavorites(pick.stationid)">Add To Favorites</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="stationview" class="contentview">
                            <table class="table">
                                <tbody>
                                    <!--Displays The Stations List Data In A Table-->
                                    <tr ng-repeat="station in stationlist">
                                        <td style="vertical-align: middle;"><img src="{{station.icon}}" width="64" height="64"/></td>
                                        <td style="vertical-align: middle;">{{station.name}}</td>
                                        <td style="vertical-align: middle;">{{station.broadcaster}}</td>
                                        <td style="vertical-align: middle;">{{station.region}}</td>
                                        <td style="vertical-align: middle;"><button class="btn btn-success" style="display: inline; margin-right: 5px;" ng-click="playStation(station._id)">Play</button><button class="btn btn-warning" style="display: inline;" ng-click="addtoFavorites(station._id)">Add To Favorites</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="historyview" class="contentview">
                            <table class="table">
                                <tbody>
                                    <!--Displays The Stations List Data In A Table-->
                                    <tr ng-repeat="history in historylist">
                                        <td style="vertical-align: middle;"><img src="{{history.icon}}" width="64" height="64"/></td>
                                        <td style="vertical-align: middle;">{{history.name}}</td>
                                        <td style="vertical-align: middle;">{{history.broadcaster}}</td>
                                        <td style="vertical-align: middle;">{{history.region}}</td>
                                        <td style="vertical-align: middle;"><a href="{{history.websiteUrl}}">{{history.websiteUrl}}</a></td>
                                        <td style="vertical-align: middle;"><button class="btn btn-success" style="display: inline; margin-right: 5px;" ng-click="playStationFromHistory(history._id)">Play</button><button class="btn btn-danger" style="display: inline;" ng-click="deleteStationFromHistory(history._id)">Delete</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="favoriteview" class="contentview">
                            <table class="table">
                                <tbody>
                                    <!--Displays The Stations List Data In A Table-->
                                    <tr ng-repeat="favorites in favoriteslist">
                                        <td style="vertical-align: middle;"><img src="{{favorites.icon}}" width="64" height="64"/></td>
                                        <td style="vertical-align: middle;">{{favorites.name}}</td>
                                        <td style="vertical-align: middle;">{{favorites.broadcaster}}</td>
                                        <td style="vertical-align: middle;">{{favorites.region}}</td>
                                        <td style="vertical-align: middle;"><a href="{{favorites.websiteUrl}}">{{favorites.websiteUrl}}</a></td>
                                        <td style="vertical-align: middle;"><button class="btn btn-success" style="display: inline; margin-right: 5px;" ng-click="playStationFromFavorites(favorites._id)">Play</button><button class="btn btn-danger" style="display: inline;" ng-click="deleteStationFromFavorites(favorites._id)">Delete</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="playerview">
                        <ul class="list-inline" style="height: 60px; margin: 0px;">
                            <li id="playerlist"><button class="btn btn-default btn-lg" style="margin-left: 5px; width: 62px; height: 62px;" ng-click="play()"><span ng-class="playIconState" aria-hidden="true"></span></button></li>
                            
                            <li id="playerafpblist"><button id="addtofavoritesplayerbutton" class="btn btn-default btn-lg" style="margin-left: 5px; width: 62px; height: 62px;" ng-click="addFavorites()"><span ng-class="favoriteIconState" aria-hidden="true"></span></button></li>
                            <li id="playerlist"><img style="margin-left: 5px; width: 62px; height: 62px;" ng-src="{{station.icon}}"/></li>
                            <li id="playertitleslist" style="vertical-align: middle;"><h5 id="playertitle" style="color: #f9f9f9;">{{station.name}}</h5><a id="playertitle">{{station.websiteUrl}}</a></li>  
                        </ul>
                        <audio id="radioplayer"></audio>
                    </div>                  
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <script src="frameworks/angular/angular.min.js"></script>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="frameworks/bootstrap/dist/js/bootstrap.min.js"></script>
        
        <!--Web App Controller-->
        <script src="controllers/WebAppController.js"></script>
        
    </body>    
</html>