<!DOCTYPE>
<html ng-app="StationsList">
    <head>
        <!--BOOTSTRAP-->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" href="frameworks/bootstrap/dist/css/bootstrap.min.css"/>

        <!-- Optional theme -->
        <link rel="stylesheet" type="text/css" href="frameworks/bootstrap/dist/css/bootstrap-theme.min.css"/>
        <!--END-BOOTSTRAP-BLOCK-->
        
        <title>Welcome To Elavate</title>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Elavate</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="webapp.html">Web App</a></li>
                        <li class="active"><a href="webservice.html">Web Service</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <br>
        <br>
        <br>
        <div class="container" ng-controller="StationsListController">
            <!--TITLE-->
            <h1>Stations List</h1>
            <!--TABLE-->
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Icon</th>
                        <th>Broadcaster</th>
                        <th>Region</th>
                        <th>Website Url</th>
                        <th>Stream Url</th>
                        <th>Actions</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <!--Inputs So The User Can add a Record To The Station List-->
                    <tr>
                        <td><input class="form-control" ng-model="station.name"></td>
                        <td><input class="form-control" ng-model="station.icon"></td>
                        <td><input class="form-control" ng-model="station.broadcaster"></td>
                        <td><input class="form-control" ng-model="station.region"></td>
                        <td><input class="form-control" ng-model="station.websiteUrl"></td>
                        <td><input class="form-control" ng-model="station.streamUrl"></td>
                        <td><button class="btn btn-success" ng-click="addStation()">Add</button></td>
                        <td><button class="btn btn-info" ng-click="updateStation()">Update</button></td>
                    </tr>
                    <!--Displays The Stations List Data In A Table-->
                    <tr ng-repeat="station in stationlist">
                        <td>{{station.name}}</td>
                        <td><img src="{{pick.icon}}" width="48" height="48"/></td>
                        <td>{{station.broadcaster}}</td>
                        <td>{{station.region}}</td>
                        <td><a href="{{station.websiteUrl}}">{{station.websiteUrl}}</a></td>
                        <td><a href="{{station.streamUrl}}">{{station.streamUrl}}</a></td>
                        <td><button class="btn btn-warning" ng-click="editStation(station._id)">Edit</button></td>
                        <td><button class="btn btn-danger" ng-click="deleteStation(station._id)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="frameworks/angular/angular.min.js"></script>
        <script src="controllers/WS_StationsListController.js"></script>
    </body>    
</html>